# replace with your own configured credentials
DATABASE_URL="postgresql://postgres:your_password@postgres:5432/expense_tracker"
DB_POSTGRES="expense_tracker"
USER_POSTGRES="postgres"
PASSWORD_POSTGRES="your_password"

# preferably generate ur own by running "openssl rand -hex 32" in terminal
SECRET_KEY="a15c21f2cff0ac02ed96d0b049b6c31fe13858946563701b834deb3857ce5dcb"

# signing algorithm used for your tokens
ALGORITHM="HS256"